.modal-div{
    max-width: 100vw;
    height: fit-content;
    min-height: 100vh;
    padding: 100px 50px;
    /* overflow: hidden; */
    
}

.modalWhiteBg{
    background-color: rgb(223, 217, 217);
}
.modalDarkBg{
    background-color: hsl(207, 26%, 8%);
}
.flagDetailsDark{
    color: white;
}

.hidden{
    display: none;
}

.modal-content{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    column-gap: 100px;
    padding: 0px 200px;
}

.modal-content img{
    max-width: 700px;
}

.flag-details{
    /* border: 1px solid red; */
    
    padding: 100px 20px;
    padding-right: 300px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.flag-details *{
    width: 300px;
}



.backBtn{
    border: 0px;
    padding: 10px 30px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.4s;
    font-size: 18px;
    display: flex;
    align-items: center;
    column-gap: 15px;
    
}
.backBtn:hover{
    scale: 1.1;
}

.arrow{
    scale: 1.8;
}

.flagHeader{
    font-size: 2.5rem;
}

@media (max-width:1300px) {
    .modal-content{
        flex-direction: column;
        height: fit-content;
        padding: 0px;
        
    }
    .modal-div{
        height: fit-content;
        min-height: 100vh;
        flex-direction: column;
        padding: 20px 20px;
    }
    .flag-details{
        align-items: center;
        padding: 50px 0px;
    }
    .flag-details p {
        width: fit-content;
    }
    .flagHeader{
        text-align: center;
        width: 300px;
    }
    
}
@media (max-width:707px) {
    .modal-content img{
        max-width: 90%;
    }
    
    

}